<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime executionTimeout="999999" maxRequestLength="2097151" />
  </system.web>
  <appSettings>
    <add key="clientCertSubject" value="E=abc@xyz.com, CN=xyz.net, OU=IT, O=Demo Co, L=City, S=State, C=Country" />
    <add key="defaultServCertSubject" value="E=email@xyz.com, CN=*.xyz.net, OU=TT, O=Company, L=City, S=State, C=Country" />
    <add key="endpoint" value="https://externalServiceUrl/ServideName?wsdl" />
    <add key="endpointDNSIdentity" value="*.xyz.net" />
  </appSettings>

  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>